<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.gymboi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gym1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gym1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".legs"
            android:label="Legs" />
        <activity android:name=".chest"
            android:label="Chest" />
        <activity android:name=".triceps"
            android:label="Triceps" />
        <activity android:name=".biceps"
            android:label="Biceps" />
        <activity android:name=".shoulder"
            android:label="Shoulder" />
        <activity android:name=".back"
            android:label="Back" />
        <activity android:name=".abs"
            android:label="Abs" />
        <activity android:name=".cardio"
            android:label="Cardio"
            ></activity>
    </application>

</manifest>